name: Multi-dimension matrix
on: push
jobs:
    print:
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]
                version: [18, 20]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/setup-node@v5
              with:
                node-version: ${{ matrix.version }}
            - run: echo "${RUNNER_OS}" && node --version